.mainNav {
  z-index: 1030;
  background-color: transparent;
  color: white; 
  position: relative;
}

.nav-link {
  cursor: pointer;
}

.mainNav .navbar-brand{
  color: #fed136;
  font-weight: 400;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 10px;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

